.main-banner {
    background-image: url('https://cdn.pixabay.com/photo/2021/01/30/01/29/currency-5962599_640.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(190, 114, 177, 0.3);
    background-blend-mode: lighten;
    height: 100vh;
}
.user-card {
    background-color: #f7fbfc;
    box-shadow: rgba(128, 138, 145, 0.3) 0px 1px 2px 0px, rgba(112, 119, 124, 0.15) 0px 2px 6px 2px;
}

.bg-custom-login-image {
    background-image: url('https://cdn.pixabay.com/photo/2019/12/16/10/30/iphone-4699057_960_720.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.register-image {
    background-image: url('https://cdn.pixabay.com/photo/2017/05/15/13/56/sign-up-2314914_640.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.navbar-sub-nav {
    /* margin-left: 24px; */
}

.sub-nav-link {
    color: #3a3b45;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: block;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
}

.sub-nav-link:hover {
    color: #3a3b45;
    text-decoration: none;
    background-color: #eaecf4;
}

.active-menu{
    background-color: #eaecf4;
}
